<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Page Types - IXOCREATE</title>
    
    
    


    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../img/ixocreate/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../img/ixocreate/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../img/ixocreate/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../img/ixocreate/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../../img/ixocreate/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../img/ixocreate/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../../img/ixocreate/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../img/ixocreate/favicon/apple-touch-icon-152x152.png"/>
    <link rel="icon" type="image/png" href="../../img/ixocreate/favicon/favicon-196x196.png" sizes="196x196"/>
    <link rel="icon" type="image/png" href="../../img/ixocreate/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="../../img/ixocreate/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="../../img/ixocreate/favicon/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="../../img/ixocreate/favicon/favicon-128.png" sizes="128x128"/>

    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="../../img/ixocreate/favicon/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo" content="../../img/ixocreate/favicon/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="../../img/ixocreate/favicon/mstile-150x150.png"/>
    <meta name="msapplication-wide310x150logo" content="../../img/ixocreate/favicon/mstile-310x150.png"/>
    <meta name="msapplication-square310x310logo" content="../../img/ixocreate/favicon/mstile-310x310.png"/>

    <link href="../../css/vendor.min.css" rel="stylesheet">
    <link href="../../css/main.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">
</head>
<body class="page-footer-bottom page-body brand-ixocreate">
<header class="page-header">
    <div class="fixed-top nav-bg">
        <div class="">
            <nav class="navbar navbar-expand-xl navbar-light main-nav content-padding">
                <div class="navbar-outer-container align-items-center align-items-xl-end">
                    <a class="navbar-brand" href="../.." title="Home">
                        <div class="navbar-brand-logo"></div>
                    </a>

                    <div class="text-right">
                        <button class="navbar-toggler toggle-mobile-nav" type="button">
                            <img src="../../img/menu-bar.svg" alt="MENU"/>
                        </button>
                    </div>

                    <div id="main-nav" class="navbar-desktop">
                        <div class="navbar-container">
                            
<ul class="navbar-nav mx-auto mega-nav">
    <li class="nav-item dropdown">
    <a class="nav-link nav-link-animate" href="#" role="button" data-toggle="dropdown">Getting Started <i class="fas fa-chevron-down arrow"></i></a>
    <div class="dropdown-menu">
        <div class="row no-gutters">
            <div class="col-4">

            </div>
            <div class="col-4">
                <div class="p-3 py-4">
                    <a class="mega-nav-link" href="../../getting-started/installation/">Installation</a>
                    <a class="mega-nav-link" href="../../getting-started/directory-structure/">Directory Structure</a>
                    <a class="mega-nav-link" href="../../getting-started/block/">Create Blocks</a>
                    <a class="mega-nav-link" href="../../getting-started/page-type/">Create Page-Types</a>
                </div>
            </div>
            <div class="col-4">
                <div class="mega-nav-contact-box bg-gradient-primary">
                    <div class="mb-4">
                        Business
                    </div>
                    <a href="https://www.ixocreate.com" target="_blank" class="btn btn-outline-light">Business</a>
                </div>
            </div>
        </div>
    </div>
    </li>
    <li class="nav-item dropdown active">
    <a class="nav-link nav-link-animate" href="#" role="button" data-toggle="dropdown">Components <i class="fas fa-chevron-down arrow"></i></a>
    <div class="dropdown-menu">
        <div class="row no-gutters">
            <div class="col-4">

            </div>
            <div class="col-4">
                <div class="p-3 py-4">
                    <a class="mega-nav-link" href="../schema/">Schema</a>
                    <a class="mega-nav-link active" href="./">Page Types</a>
                    <a class="mega-nav-link" href="../blocks/">Blocks</a>
                </div>
            </div>
            <div class="col-4">
                <div class="mega-nav-contact-box bg-gradient-primary">
                    <div class="mb-4">
                        Business
                    </div>
                    <a href="https://www.ixocreate.com" target="_blank" class="btn btn-outline-light">Business</a>
                </div>
            </div>
        </div>
    </div>
    </li>
</ul>
                        </div>
                    </div>

                    <div id="main-nav-mobile" class="navbar-mobile">
                        <div class="mobile-navbar-container">
                            <div class="mobile-nav-close-container content-padding">
                                <button class="mobile-nav-close toggle-mobile-nav">
                                    <img src="../../img/menu-close.svg" />
                                </button>
                            </div>
                            
<ul class="navbar-nav">
    <li class="nav-item dropdown">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown">Getting Started <i class="fas fa-chevron-down arrow"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="../../getting-started/installation/">Installation</a>
        <a class="dropdown-item" href="../../getting-started/directory-structure/">Directory Structure</a>
        <a class="dropdown-item" href="../../getting-started/block/">Create Blocks</a>
        <a class="dropdown-item" href="../../getting-started/page-type/">Create Page-Types</a>
    </div>
    </li>
    <li class="nav-item dropdown active">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown">Components <i class="fas fa-chevron-down arrow"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="../schema/">Schema</a>
        <a class="dropdown-item active" href="./">Page Types</a>
        <a class="dropdown-item" href="../blocks/">Blocks</a>
    </div>
    </li>
</ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="mobile-nav-backdrop toggle-mobile-nav"></div>
    </div>
</header>
<main class="page-content">
    <div class="page-hero-bg page-hero-image" style="padding: 200px 0;">
        <div class="container">
            <div class="">
                <section class="section section-page-hero header-padding">
                    <div class="page-hero">
                        <div class="content-padding max-content-width">
                            <h1 class="title text-center">Page Types</h1>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="">
            <div class="content-padding pt-4 fix-margins">
                
                <div class="row">
                    <div class="col-md-8" role="main">
                        
                        <div class="mb-2">
                            <ol class="breadcrumb">
                                
                                <li class="breadcrumb-item">Components</li>
                                
                                <li class="breadcrumb-item">Page Types</li>
                            </ol>
                        </div>
                        
                        <div class="main-content">
                            <h1 id="introduction">Introduction</h1>
<p>A PageType describes what kind of information an editor has or can provide and displays them on a corresponding template. 
Moreover a PageTypes defines where a page can be located inside the sitemap tree. </p>
<pre><code class="php">namespace Ixocreate\Cms\PageType;

use Ixocreate\Schema\SchemaProviderInterface;
use Ixocreate\ServiceManager\NamedServiceInterface;

interface PageTypeInterface extends NamedServiceInterface, SchemaProviderInterface
{
    public function label(): string;

    public function allowedChildren(): ?array;

    public function template(): string;

    /**
     * inherited from NamedServiceInterface
     */
    public static function serviceName(): string;

    /**
     * inherited from SchemaProviderInterface
     */
    public function provideSchema($name, BuilderInterface $builder, $options = []): SchemaInterface;
}
</code></pre>

<p>With the following interfaces you can change the default behaviour of a PageType or add extra functionality into them. </p>
<h2 id="handlepagetypeinterface">HandlePageTypeInterface</h2>
<p>Through <code>HandlePageTypeInterface</code> two things are achieved. First, the certain PageType can be used only once by the editor. 
Second, you can access/find the corresponding <code>Page</code>, <code>Sitemap</code> and <code>PageContent</code> by using the unique <code>serviceName</code> from
the PageType.  </p>
<pre><code class="php">namespace Ixocreate\Cms\PageType;

interface HandlePageTypeInterface
{
}
</code></pre>

<h2 id="middlewarepagetypeinterface">MiddlewarePageTypeInterface</h2>
<p>In some situations it is needed to add some extra middleware layers before the requested page will be rendered.
Through <code>MiddlewarePageTypeInterface</code> its possible to add a list of PSR15 Middlewares to be processed. For example a
<code>AuthenticationMiddleware</code> could be added to check if the user is allowed to view the requested page.</p>
<pre><code class="php">namespace Ixocreate\Cms\PageType;

interface MiddlewarePageTypeInterface
{
    public function middleware(): array;
}
</code></pre>

<h2 id="rootpagetypeinterface">RootPageTypeInterface</h2>
<p>Some pages should be only be used as root of the sitemap. This restriction is especially useful in combination with other 
PageType features like <code>RoutingAwareInterface</code>.</p>
<pre><code class="php">namespace Ixocreate\Cms\PageType;

interface RootPageTypeInterface extends PageTypeInterface
{
}
</code></pre>

<h2 id="routingawareinterface">RoutingAwareInterface</h2>
<p>At some point the default routing behaviour isn't sufficient. With the <code>RoutingAwareInterface</code> its possible to alter the
default behaviour. In background the Symfony Router is used (See the corresponding symfony documentation for more details 
about the syntax). Next to the Symfony placeholder options for routing, IXOCREATE also offers some placeholders:</p>
<ul>
<li><code>${LANG}</code></li>
<li><code>${LANG:no-default}</code></li>
<li><code>${LANG:no-root-default}</code></li>
<li><code>${REGION}</code></li>
<li><code>${PARENT}</code></li>
<li><code>${SLUG}</code></li>
<li><code>${URI:&lt;applicationUriName&gt;}</code></li>
</ul>
<p>The default routing of <code>RootPageTypeInterface</code> is <code>/</code>, all other page types <code>${PARENT}/${SLUG}</code></p>
<pre><code class="php">namespace Ixocreate\Cms\PageType;

interface RoutingAwareInterface
{
    public function routing(): string;
}
</code></pre>

<h2 id="terminalpagetypeinterface">TerminalPageTypeInterface</h2>
<p>Implementing the <code>TerminalPageTypeInterface</code> excludes all children pages from the sitemap overview inside the administration
interface.</p>
<pre><code class="php">namespace Ixocreate\Cms\PageType;

interface TerminalPageTypeInterface
{
}
</code></pre>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
<div class="navbar-light navbar-expand-md hidden-print" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    <div id="toc-collapse" class="navbar-collapse collapse card">
        <ul class="nav flex-column toc-sidenav p-2">
            <li class="nav-item pl-0">
                <a class="nav-link" href="#introduction">Introduction</a>
            </li>
            <li class="nav-item pl-3">
                <a href="#handlepagetypeinterface" class="nav-link">HandlePageTypeInterface</a>
            </li>
            <li class="nav-item pl-3">
                <a href="#middlewarepagetypeinterface" class="nav-link">MiddlewarePageTypeInterface</a>
            </li>
            <li class="nav-item pl-3">
                <a href="#rootpagetypeinterface" class="nav-link">RootPageTypeInterface</a>
            </li>
            <li class="nav-item pl-3">
                <a href="#routingawareinterface" class="nav-link">RoutingAwareInterface</a>
            </li>
            <li class="nav-item pl-3">
                <a href="#terminalpagetypeinterface" class="nav-link">TerminalPageTypeInterface</a>
            </li>
        </ul>
    </div>
</div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>

</main>

<div class="container">
    <div class="footer-prepend content-padding">

    </div>
</div>

<footer class="page-footer">
    <div class="page-footer-bg">
        <div class="container">
            <div class="footer-content content-padding">
                <div class="row align-items-center footer-info">
                    <div class="col-lg-6 col-xl-auto text-center text-lg-left order-1 order-lg-0 order-xl-0">
                        <a href="https://www.ixolit.com">
                            <img src="../../img/ixolit-group-logo-blackbg.svg" alt="IXOLIT Group" class="footer-logo" />
                        </a>
                    </div>
                    <div class="col-lg-6 col-xl text-center mt-4 mt-xl-0 text-lg-left text-muted order-2 order-lg-2 order-xl-1">
                        Copyright &copy; 2001–2019 IXOLIT Group
                    </div>
                    <div class="col-lg-6 col-xl text-right order-0 mb-5 mb-lg-0 order-lg-1 order-xl-2">
                        <ul class="social-links social-links-big justify-content-lg-end">
                            <li><a href="https://github.com/ixocreate" target="_blank" title="Github"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-xl-12 text-center text-lg-right order-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/php.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="../../js/vendor.min.js"></script>
<script src="../../js/main.min.js"></script>
</body>
</html>