.section-bulleted-list {
  .bulleted-list {
    padding: ($spacer * 2.5) ($spacer * 2.5) ($spacer * .5);

    &.bulleted-list-bordered {
      border: 1px solid $gray-2;
    }

    &.bulleted-list-filled,
    &.bulleted-list-filled-full-width {
      color: $white;
      fill: $white;

      .section-title-sm {
        color: $white;
      }
    }

    .section-title-sm {
      margin-bottom: $spacer * 2;
    }

    .bulleted-list-element {
      margin-bottom: $spacer * 2;
      font-size: 1.1rem;
    }

    .bulleted-list-element-icon {
      position: relative;
      top: -1px;
      margin-right: 8px;
    }
  }
}

