.section-contact-form {
  .contact-form {
    .invalid-feedback {
      background: $white;
      border: 2px solid $danger;
      border-top: 0;
      font-weight: $font-weight-bold;
      margin-top: 0;
      padding: 2px 5px;
    }

    .form-check {
      .invalid-feedback {
        border: 2px solid $danger;
      }
    }
  }
}

.contact-form-control {
  border-color: $white;
  background: $white;
}

