.section-cta-bg {
  .cta-bg {
    background-position: center center;
    background-size: cover;
    color: $white;
    padding: 70px $spacer;

    h2 {
      color: $white;
    }

    .cta-bg-text {
      font-size: 1.3rem;
    }
  }

  .cta-bg {
    @each $brand, $data in $brands {
      &.brand-#{$brand} {
        background-image: url('../img/brand/#{$brand}/#{$brand}-bg-1.svg');

        .btn-primary {
          color: map-get($data, dark);

          &:hover {
            color: map-get($data, dark);
          }
        }

        .btn-outline-primary {
          &:hover {
            color: map-get($data, dark);
          }
        }
      }
    }
  }
}

