.section-persons {
  .employee-box {
    display: block;
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    margin: 0 auto $grid-gutter-width;
    cursor: pointer;
    line-height: 1.3rem;

    .more-icon {
      vertical-align: middle;
      font-size: .85rem;
      margin-left: 3px;
    }

    .employee-box-img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-position: center center;
      transition: transform .3s, filter .3s;
      @include grayscale;

    }

    .employee-box-hover-overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .3);
      opacity: 0;
      transition: opacity .25s;
    }

    .employee-box-gradient {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      bottom: 0;
      @include gradient-y(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
    }

    .employee-box-content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      color: $white;

      .employee-box-content-animate-1,
      .employee-box-content-animate-2,
      .employee-box-content-animate-3 {
        padding: $spacer;
        position: absolute;
        left: 0;
        right: 0;
        transition: top .3s, transform .3s;
        transition-timing-function: ease-in-out;
      }

      .employee-box-content-animate-1 {
        top: 100%;
        transform: translateY(-100%);
        transition-delay: .3s;
      }

      .employee-box-content-animate-2 {
        top: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        transition-delay: .15s;
      }

      .employee-box-content-animate-3 {
        top: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        transition-delay: 0s;
      }

      .employee-box-name {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
      }

      .employee-box-description {
        margin-top: $spacer;
      }
    }

    ul.social-links {
      margin-top: $spacer * 1.5;
      font-size: 30px;
      line-height: 30px;

      & > li {
        margin-right: 10px;
      }

      a,
      .fa {
        color: $white;
        height: 30px;

        &:hover .social-github {
          color: $gray-3;
        }
      }
    }

    @include media-breakpoint-up(md) {
      &:hover {
        .employee-box-content {
          .employee-box-content-animate-1 {
            top: 0;
            transform: translateY(0);
            transition-delay: .0s;
          }

          .employee-box-content-animate-2 {
            top: 0;
            transition-delay: .15s;
          }

          .employee-box-content-animate-3 {
            top: 0;
            transition-delay: .3s;
          }
        }

        .employee-box-img {
          @include grayscale-off;
          transform: scale(1.05);
        }

        .employee-box-hover-overlay {
          opacity: 1;
        }
      }
    }
  }

  .employee-modal .modal-dialog {
    max-width: 860px;

    @media (max-width: 910px) {
      margin: $spacer;
    }

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10;

      img {
        display: block;
      }
    }

    .modal-content-row {
      min-height: 470px;
    }

    ul.social-links {
      margin-top: $spacer * 1.5;
      font-size: 30px;
      line-height: 30px;
      position: absolute;
      right: $spacer;
      bottom: $spacer;
      z-index: 1;

      & > li {
        margin-right: 10px;
      }

      a,
      .fa {
        color: $white;
        height: 30px;

        &:hover .social-github {
          color: $gray-3;
        }
      }
    }

    .employee-modal-img-col {
      min-height: 250px;
    }

    .employee-modal-img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      background-position: center center;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0;
        @include gradient-y(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
      }
    }

    .employee-modal-content {
      padding: 40px ($spacer * 2) ($spacer * 2);
      overflow: auto;
    }

    .employee-modal-name {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
    }
  }
}

