.section-quote {
  .quote {
    color: $white;
    text-align: center;
    padding: 60px $spacer;

    blockquote {
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
      margin-bottom: 25px;
    }

    .quote-author {
      font-size: 1.3rem;
      text-transform: uppercase;
      margin-bottom: 3px;
    }

    .quote-author-title {
      font-size: 1.1rem;
    }
  }
}

