.section-slider {
  overflow: hidden;
  background: $white;

  .slider-holder {
    position: relative;

    .slick-arrow {
      position: absolute;
      background: transparent;
      top: 0;
      bottom: 0;
      color: #fff;
      padding: 0;
      border: 0;
      width: 90px;
      z-index: 10;
      font-size: 25px;
      vertical-align: middle;
      cursor: pointer;
      text-align: center;

      &:focus {
        outline: 0;
      }

      &.prev-arrow {
        left: 0;
      }
      &.next-arrow {
        right: 0;
      }
    }

    .slider-btn-container {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }

    .slider-count {
      font-size: 1.6rem;
      font-weight: $font-weight-bold;
      color: $gray-4;
    }

    @include media-breakpoint-down(sm) {
      .slick-arrow {
        display: none !important;
      }
    }
  }

  .slider {
    margin-bottom: 0 !important;
    display: none;

    &.slick-initialized {
      display: block;
    }
  }

  .slick-slide {
    @include grayscale;
    opacity: .25;
    transition: filter .3s, opacity .3s;

    &.slick-current,
    &.slick-center-custom {
      @include grayscale-off;
      opacity: 1;

      .slider-info {
        opacity: 1;
      }
    }

    .slider-info {
      opacity: 0;
      transition: opacity .3s;
    }
  }
}

