.section-text-screenshot {
  .screenshot-text {
    max-width: 1080px / 2 - 15px;
    margin: 0 25px;
  }

  .screenshot-type-1 {
    position: relative;
    padding: 60px 0;

    .screenshot-type-1-parallax {
      display: none;
    }

    .screenshot-type-1-bg-container {
      width: 75%;
    }

    .screenshot-type-1-bg {
      padding-bottom: 80%;
      position: relative;
    }

    .screenshot-type-1-icon {
      color: $gray-2;
      position: absolute;
      bottom: 0;
      right: -30px;
      font-size: 20px;
    }

    .screenshot-type-1-img {
      position: absolute;
      right: 0;
      top: -30px;
      width: 80%;
    }
  }

  .screenshot-right .screenshot-type-1 {
    .screenshot-type-1-bg-container {
      margin-left: 20%;
    }

    .screenshot-type-1-icon {
      right: auto;
      left: -30px;
    }

    .screenshot-type-1-img {
      left: 0;
      right: auto;
    }
  }

  .screenshot-type-2 {
    overflow: hidden;
    position: relative;

    .screenshot-type-2-bg {
      position: absolute;
      left: 0;
      top: 15%;
      right: 0;
      bottom: 0;
      @include gradient-x($white, $gray-2);
      transform: skewY(-10deg);
    }

    .screenshot-type-2-icon {
      color: $gray-3;
      position: absolute;
      top: 13px;
      right: 10px;
      font-size: 20px;
      z-index: 1;
    }

    .screenshot-type-2-img {
      position: relative;
      left: $content-padding-x;
      top: 70px;
      width: 100%;
      height: auto;

      img {
        border-radius: 15px;
      }

      @include media-breakpoint-down(sm) {
        left: $content-padding-x-sm;
      }

      @include media-breakpoint-down(xs) {
        left: $content-padding-x-xs;
      }
    }
  }

  .screenshot-right .screenshot-type-2 {
    .screenshot-type-2-bg {
      top: 0;
      @include gradient-x($gray-2, $white);
      transform: skewY(0);
    }

    .screenshot-type-2-bg-cut {
      content: '';
      background: $white;
      position: absolute;
      left: 0;
      top: 85%;
      right: 0;
      height: 100%;
      transform: skewY(-10deg);
      z-index: 10;
    }

    .screenshot-type-2-icon {
      right: auto;
      left: 10px;
    }

    .screenshot-type-2-img {
      left: auto;
      right: $content-padding-x;

      @include media-breakpoint-down(sm) {
        right: $content-padding-x-sm;
      }

      @include media-breakpoint-down(xs) {
        right: $content-padding-x-xs;
      }
    }
  }

  .screenshot-type-3-container {
    margin-bottom: -10%;
  }

  .screenshot-type-3 {
    overflow: hidden;
    position: relative;

    .screenshot-type-3-img {
      width: 100%;
      height: auto;
      margin-top: 14%;
      margin-bottom: 21%;
      margin-left: -24%;

      img {
        border-radius: 5px;
        transform: rotate(-35deg) skew(20deg, 5deg);
        box-shadow: -20px 20px 20px rgba(0, 0, 0, .2);
        border-left: 5px solid $gray-4;
        border-bottom: 5px solid $gray-5;
      }
    }
  }

  .screenshot-right .screenshot-type-3 {
    .screenshot-type-3-img {
      margin-left: auto;
      margin-right: -24%;
    }
  }

  .screenshot-left .screenshot-type-2,
  .screenshot-left .screenshot-type-3 {
    margin-left: -$content-padding-x;

    @include media-breakpoint-down(sm) {
      margin-left: -$content-padding-x-sm;
    }

    @include media-breakpoint-down(xs) {
      margin-left: -$content-padding-x-xs;
    }
  }

  .screenshot-right .screenshot-type-2,
  .screenshot-right .screenshot-type-3 {
    margin-right: -$content-padding-x;

    @include media-breakpoint-down(sm) {
      margin-right: -$content-padding-x-sm;
    }

    @include media-breakpoint-down(xs) {
      margin-right: -$content-padding-x-xs;
    }
  }
}

