.section-text-image {
  .img-left .img-text-element.to-border {
    margin-left: -(map-get($container-max-widths, xxl) - $max-content-width-lg) / 2 + $grid-gutter-width / 2;

    @include media-breakpoint-down(xl) {
      margin-left: -$content-padding-x;
    }

    @include media-breakpoint-down(sm) {
      margin-left: -$content-padding-x-sm;
    }

    @include media-breakpoint-down(xs) {
      margin-left: -$content-padding-x-xs;
    }
  }

  .img-right .img-text-element.to-border {
    margin-right: -(map-get($container-max-widths, xxl) - $max-content-width-lg) / 2 + $grid-gutter-width / 2;

    @include media-breakpoint-down(xl) {
      margin-right: -$content-padding-x;
    }

    @include media-breakpoint-down(sm) {
      margin-right: -$content-padding-x-sm;
    }

    @include media-breakpoint-down(xs) {
      margin-right: -$content-padding-x-xs;
    }
  }
}

