.section-youtube {
  color: $gray-1;
  background: $gray-5;
  padding-top: 50px;
  padding-bottom: 50px;

  .section-title {
    color: $gray-1;
  }

  .caption {
    margin-top: 20px;
    margin-bottom: 0;
    color: $gray-3;
  }
}
